<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>
    {{ range .Site.Data.education }}
      <div class="resume-item d-flex flex-column flex-md-row mb-5 w-100">
        <div class="resume-content flex-grow-1">
          <h3 class="mb-0">{{ .degree }}</h3>
          <div class="subheading mb-3">{{ .school }}</div>
          {{ if .major }}
          <p>
            {{ .major }}
          </p>
          {{ end }}

          {{ if .minor }}
          <ul>
            {{ range .minor }}
            <li>
              {{ . }}
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
        <div class="resume-date text-md-end ms-md-auto">
          <span class="text-primary">{{ .range }}</span>
        </div>
      </div>
    {{ end }}
  </div>
</section>
