<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
    <h2 class="mb-5">Skills</h2>
    {{ .Content }}
      <div class="row">
        {{ range $.Site.Data.skills }}
          <div class="col-xl-3 col-md-6">
            <h3 class="mb-3 subheading skills-heading">{{ .grouping }}</h3>
            <ul class="list-group" id="skills-list-{{ .id }}">
            {{ range sort .skills "level" "desc" }}
              <div class="skillbar" data-percent='{{ if isset . "level" }}{{ .level }}{{ else }}0%{{ end }}'>
                <div class="skillbar-title">
                  <li class="list-inline-item">
                  {{ if isset . "name" }}
                    {{ if isset . "old" }}
                      <i class="devicons devicons-{{ cond (in $.Site.Data.devicons (lower .name)) (lower .name) "terminal_badge" }}"></i>
                    {{ else }}
                      <i class="devicon-{{ lower .name }}-plain colored"></i>
                    {{ end }}
                    {{ .name }}
                  {{ end }}
                  </li>
                </div>
                <div class="skillbar-percent">{{ if isset . "level" }}{{ .level }}{{ else }}n/a{{ end }}</div>
                <div class="skillbar-bar"></div>
              </div>
            {{ end }}
            </ul>
        </div>
        {{ end }}
      </div>
  </div>
</section>
