@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?8zedwx') format('woff');
}

[class^="fa-icomoon"], [class*=" fa-icomoon"] {
  font: normal normal normal 14px/1 icomoon;
  font-size: 1.8rem;
  line-height: inherit !important;
}

.fa-icomoon-findpenguins:before {
  content: "\eb42";
}
