{{ define "main" }}
   {{ partial "about" .}}
   {{ if .Site.Params.showSkills }}
      {{ with .Site.GetPage "section" "skills" }}
         {{ .Scratch.Add "sectionId" "skills" }}
         {{ partial "portfolio/skills" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showProjects }}
      {{ with .Site.GetPage "section" "projects/creations" }}
         {{ .Scratch.Add "sectionId" "creations" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showOpenSource }}
      {{ with .Site.GetPage "section" "projects/contributions" }}
         {{ .Scratch.Add "sectionId" "open" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showPublications }}
      {{ with .Site.GetPage "section" "publications" }}
         {{ .Scratch.Add "sectionId" "publications" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showExperience }}
       {{ partial "portfolio/experience.html" . }}
   {{ end }}
   {{ if .Site.Params.showEducation }}
       {{ partial "portfolio/education.html" . }}
   {{ end }}
{{ end }}
