.p-0 {
  margin: 0 auto;
}

.devicons {
  font-size: 1.5em;
  vertical-align: sub;
}

/* ensure items with short summarues push date over image */
.publication-content {
  width: 90%;
}

h3 {
  margin-top: 40px;
}

h3.mb-0 {
  margin-top: 0;
}

/* From https://codepen.io/wbeeftink/pen/dIaDH */

.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0 10px 10px 0;
  padding: 0 20px 0 23px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  color: #9e9e9e;
  content: '\f02b';
  font-family: ForkAwesome, sans-serif;
  left: 7px;
  position: absolute;
  top: 0px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
}

.tag:hover::after {
  border-left-color: var(--secondary-color);
}

.tag:hover::before {
  color: white;
}

code {
  background: #ededed;
  border-radius: 15px;
  color: var(--secondary-color);
  margin: 0 5px;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  #sideNav .navbar-nav .nav-item .nav-link:not(.active):hover {
    transform: unset !important;
  }
  section.resume-section-sm .img-profile {
    max-width: 60% !important;
  }
  section.resume-section .resume-item .resume-content img {
    max-height: 100% !important;
    max-width: 100% !important;
  }
  section.resume-section .resume-item .resume-date {
    margin-left: 0 !important;
    margin-top: 1rem;
  }
}
